$backgroundcolor: #f3e9f1;
$color1: #8f5bfe;
$color2: #a265c7;
$color3: #b06ca1;
$color4: #be7578;
$color5: #c87a5c;
$color6 : #d8832e;
$degrade: linear-gradient($color1, $color2, $color3, $color4, $color5, $color6);;
