.body{
    margin: 0 auto;
    background: $backgroundcolor;    
}
h1{
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
h2{
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
h3{
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
h4{
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
