.icon-panier i{
    margin-top: 40px;
    font-size: 50px;
    background-clip: content-box;
    -webkit-background-clip: text;
    background-image: $degrade;
    color: transparent;    
}
.oursDescription{
    font-family: 'Lobster', cursive;
    font-weight: bold;    
}
.oursLien{
    background-color: $degrade;
    border-color: $degrade;
}